body{
    background: #2b2b2b;
}
div{
text-align: center;
margin: auto;
width: 340px;
height: 300px;
}
h1{
font-size: large;
color: lightgray;
text-align: center;
margin:auto;
vertical-align: middle;
align-self: center;
padding-left: 5px;
padding-top: 5px;
font-family: Arial, Helvetica, sans-serif;
}
p{
color: lightgray;
text-align: center;
margin:auto;
vertical-align: middle;
align-self: center;
padding-left: 5px;
padding-top: 5px;
font-family: Arial, Helvetica, sans-serif;
}
a:link {
color: red;
background-color: transparent;
text-decoration: none;
}

a:visited {
color: white;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: orangered;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}
